.transition {
  @include transit;
}

// Chromeball animation

#chromeball-outline {
  animation: 
    rotate 250s linear infinite
   ,rotate-chromeball 1ms ease-in-out
  ;
}
#circle-dotted-inner {
  animation: 
    rotate-back 350s linear infinite
   ,rotate-circle-dotted-inner 1ms ease-in-out
  ;
}
#circle-dotted-middle {
  animation: 
    rotate 600s linear infinite
   ,rotate-circle-dotted-middle 1ms ease-in-out
  ;
}
#circle-dotted-outer {
  animation: 
    rotate-back 800s linear infinite
   ,rotate-circle-dotted-outer 1ms ease-in-out
  ;
}

// Squiggle hr

hr.squiggle {
  animation: 
    scroll-bg-x 100s linear infinite
   ,scroll-bg-x 1ms ease-in-out
  ;
}

// Compound animation

#chromeball-outline,
#circle-dotted-inner,
#circle-dotted-middle,
#circle-dotted-outer,
hr.squiggle {
  transform-origin: center center;
  // animation-duration: 1ms; // Firefox requires this to apply the animation
  animation-timeline: auto, --scrollTimeline;
  animation-composition: add;
  @include respectReduceMotion;
}

// Animation definitions

@keyframes rotate {
  from { transform: rotate(0deg);    }
  to {   transform: rotate(-360deg); }
}

@keyframes rotate-back {
  from { transform: rotate(0deg);    }
  to {   transform: rotate(360deg); }
}

@keyframes rotate-chromeball {
  from { transform: rotate(0deg);   }
  to {   transform: rotate(-180deg); }
}

@keyframes rotate-circle-dotted-inner {
  from { transform: rotate(0deg);  }
  to {   transform: rotate(60deg); }
}

@keyframes rotate-circle-dotted-middle {
  from { transform: rotate(0deg);    }
  to {   transform: rotate(-60deg); }
}

@keyframes rotate-circle-dotted-outer {
  from { transform: rotate(0deg);   }
  to {   transform: rotate(30deg); }
}

@keyframes scroll-bg-x {
  from { background-position-x: 0;   }
  to {   background-position-x: 50vmax; }
}

@keyframes colourful {
  0% { 
    --linear-cover: 0%;
  }
  50% { 
    --linear-cover: 50%;
    --blue-x: 100%;
    --blue-y: 100%;
    --red-x: 0%;
    --red-y: 100%;
    --green-x: 100%;
    --green-y: 0%;
    --yellow-x: 0%;
    --yellow-y: 0%;
  }
  62% {
    --linear-cover: 40%;
    --blue-x: 0%;
    --blue-y: 100%;
    --red-x: 0%;
    --red-y: 0%;
    --green-x: 100%;
    --green-y: 100%;
    --yellow-x: 100%;
    --yellow-y: 0%;
  }
  75% {
    --linear-cover: 65%;
    --blue-x: 0%;
    --blue-y: 0%;
    --red-x: 100%;
    --red-y: %;
    --green-x: 0%;
    --green-y: 100%;
    --yellow-x: 100%;
    --yellow-y: 100%;
  }
  87% {
    --linear-cover: 75%;
    --blue-x: 100%;
    --blue-y: 0%;
    --red-x: 100%;
    --red-y: 100%;
    --green-x: 0%;
    --green-y: 0%;
    --yellow-x: 0%;
    --yellow-y: 100%;
  }
  100% {
    --linear-cover: 75%;
    --blue-x: 100%;
    --blue-y: 100%;
    --red-x: 0%;
    --red-y: 100%;
    --green-x: 100%;
    --green-y: 0%;
    --yellow-x: 0%;
    --yellow-y: 0%;
  }
}