.transition {
  @include transit;
}

// Chromeball animation

#chromeball-outline {
  will-change: transform;
  animation: 
    rotate 250s linear infinite
   ,rotate-chromeball 1ms ease-in-out
  ;
}
#circle-dotted-inner {
  will-change: transform;
  animation: 
    rotate-back 350s linear infinite
   ,rotate-circle-dotted-inner 1ms ease-in-out
  ;
}
#circle-dotted-middle {
  will-change: transform;
  animation: 
    rotate 600s linear infinite
   ,rotate-circle-dotted-middle 1ms ease-in-out
  ;
}
#circle-dotted-outer {
  will-change: transform;
  animation: 
    rotate-back 800s linear infinite
   ,rotate-circle-dotted-outer 1ms ease-in-out
  ;
}

// Squiggle hr

hr.dino::before {
  will-change: translate;
  animation: 
    scroll-bg-x 50s linear infinite
   ,scroll-bg-x 1ms ease-in-out
  ;
}

// Compound animation

#chromeball-outline,
#circle-dotted-inner,
#circle-dotted-middle,
#circle-dotted-outer,
hr.dino::before {
  transform-origin: center center;
  // animation-duration: 1ms; // Firefox requires this to apply the animation
  animation-timeline: auto, --scrollTimeline;
  animation-composition: add;
  @include respectReduceMotion;
}

// Animation definitions

@keyframes rotate {
  from { transform: rotate(0deg);    }
  to {   transform: rotate(calc(3 * -360deg)); }
}

@keyframes rotate-back {
  from { transform: rotate(0deg);    }
  to {   transform: rotate(calc(3 * 360deg)); }
}

@keyframes rotate-chromeball {
  from { transform: rotate(0deg);   }
  to {   transform: rotate(calc(3 * -180deg)); }
}

@keyframes rotate-circle-dotted-inner {
  from { transform: rotate(0deg);  }
  to {   transform: rotate(calc(3 * 60deg)); }
}

@keyframes rotate-circle-dotted-middle {
  from { transform: rotate(0deg);    }
  to {   transform: rotate(calc(3 * -60deg)); }
}

@keyframes rotate-circle-dotted-outer {
  from { transform: rotate(0deg);   }
  to {   transform: rotate(calc(3 * 30deg)); }
}

@keyframes scroll-bg-x {
  from { background-position-x: 0;   }
  to {   background-position-x: -50vmax; }
}
