@use "mixins" as *;
@use "vars" as *;

// Reset 
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden; // prevent unintended side scroll
}

@media print {
  body {
    color: black !important;
    background-color: white;
    background-image: none;
  }
  .no-print {
    display: none;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
  color: transparent;
  @include dark {
    filter: contrast(0.8);
  }
}

// custom cursors

body {
  cursor: url(../images/cursor.png) 2 2, auto;
}

p:not(a p),
span:not(a span),
li:not(a li) {
  cursor: url(../images/text.png) 8 24, pointer;
}

a {
  cursor: url(../images/pointer.png) 10 2, pointer;
}
