// the great grand parent elements
html {
  min-height: 100vh;
  overflow-y: scroll;
  scroll-timeline: --scrollTimeline y;
    // Firefox supports the older "vertical" syntax
    scroll-timeline: --scrollTimeline vertical;
}

body {
  @include query($bp-sml){
    padding: var(--u1);
  }
  @include query($bp-lrg){
    padding: var(--s1);
    // max-width: 90rem;
    margin: 0 auto;
  }
  // @include query($bp-2xl){
  //   max-width: 112rem;
  // }
  // Background noise image
  &::before {
    z-index: -1;
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.1;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/noise.gif);
    background-repeat: repeat;
    @include reducemotion {
      background-image: url(../images/noise.avif);
      filter: brightness(0.5) contrast(2);
      opacity: 0.1;
    }
  }
}

// flex
.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

// grid

.grid-12 { // classique 12-column grid setup
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: stretch;
}

  .grid-sub {
    display: grid;
    grid-template-columns: subgrid;
  }

  .grid-ones {
    grid-column: span 12;
  }

  .grid-twos {
    grid-column: span 12;
    @include query($bp-lrg){
      grid-column: span 6;
    }
  }

    .grid-twos-primary {
      grid-column: span 12;
      @include query($bp-lrg){
        grid-column: span 7;
      }
      @include query($bp-xlg){
        grid-column: span 9;
      }
      @include query($bp-3xl){
        grid-column: span 10;
      }
    }

    .grid-twos-secondary {
      grid-column: span 12;
      @include query($bp-lrg){
        grid-column: span 5;
      }
      @include query($bp-xlg){
        grid-column: span 3;
      }
      @include query($bp-3xl){
        grid-column: span 2;
      }
    }

  .grid-threes-lil {
    grid-column: span 12;
    @include query($bp-med){
      grid-column: span 4;
    }
    .box {
      padding-top: var(--s1);
      padding-bottom: var(--s1);
    }
  }

  .grid-threes {
    grid-column: span 12;
    @include query($bp-lrg){
      grid-column: span 4;
    }
  }

    .grid-threes-two {
      grid-column: span 12;
    @include query($bp-lrg){
      grid-column: span 8;
    }
    }

  .grid-fours {
    grid-column: span 12;
    @include query($bp-med){
      grid-column: span 6;
    }
    @include query($bp-xlg){
      grid-column: span 3;
    }
  }

    .grid-fours-three {
      grid-column: span 12;
      @include query($bp-med){
        grid-column: span 9;
      }
    }

  .grid-sixes {
    grid-column: span 12;
    @include query($bp-lrg){
      grid-column: span 2;
    }
  }

// centering
.xy-center {
  @include xy-center;
}

.y-center {
  @include y-center;
}

// border box styling
.box {
  box-shadow: 0 0 0 0.5px var(--fg), inset 0 0 0 0.5px var(--fg);
  padding: var(--u2);
  margin: 0;
  @include query($bp-lrg){
    padding: var(--u3) var(--u4);
    margin: var(--u1);
  }
  @include query($bp-2xl){
    padding: var(--u4) var(--u6);
  }
}

// box links
a { @include transit; }
a.box {
  display: block;
  //   height: 100%;
  // @include query($bp-lrg){
  //   height: calc(100% - var(--u1));
  // }
  // @include query($bp-2xl){
  //   height: calc(100% - var(--u2));
  // }
  &:hover {
    background-color: var(--fg);
    color: var(--bg);
  }
}

nav .flex {
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  li {
    flex: 1 0 auto;
  }
  .box {
    display: flex;
    align-items: center;
  }
}

header .box {
  padding-top: var(--s8);
  padding-bottom: var(--s2);
}

h2.grid-ones {
  padding-top: var(--s2);
  padding-bottom: var(--s2);
}

article {
  padding-top: var(--s2);
  padding-bottom: var(--s2);
  @include query($bp-lrg){
    padding-top: var(--s1);
    padding-bottom: var(--s1);
  }
  height: 100%;
  @extend .flex;
  flex-direction: column;
    p:nth-last-child(2) {
      @extend .flex-grow;
      margin-bottom: var(--u2);
    }
}

// decorative

.chromeball {
  @include xy-center
}

  #chromeball-protect {
    max-width: 32rem;
  }

hr.squiggle {
  position: relative;
  padding: 0;
  border: none;
  height: var(--s8);
  mix-blend-mode: difference;
  &::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/squiggle.svg");
    background-repeat: repeat-x;
    background-position-y: center;
    background-color: black;
  }
}