// Base type sizing

html {
  font-size: 14px; // note this affects layout sizing also
  // @include query($bp-2xl){
  //   font-size: 18px;
  // }
  // @include query($bp-3xl){
  //   font-size: 20px;
  // }
  @media only print {
    font-size: 11pt;
  }
}

body {
  font-family: var(--ff-archivo);
  line-height: 1.33;
  color: var(--fg);
  background-color: var(--bg);
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

// Text sizes

.f-med {
  font-size: var(--f-med);
}
.f-semi {
  font-size: var(--f-semi);
}
.f-lrg {
  font-size: var(--f-lrg);
}
.f-xlg {
  font-size: var(--f-xlg);
}
.f-2xl {
  font-size: var(--f-2xl);
}
.f-hero {
  font-size: var(--f-hero);
}
.f-xhr {
  font-size: var(--f-xhr);
}
.f-2xh {
  font-size: var(--f-2xh);
}
.f-3xh {
  font-size: var(--f-3xh);
}
.f-4xh {
  font-size: var(--f-4xh);
}

// Text styles

em, i, .italic {
  font-style: italic;
}

strong {
  font-weight: 900;
}

.narrow {
  font-stretch: 60%;
}

.wide {
  font-stretch: 125%;
}

.light {
  font-weight: 300;
  @include query($bp-sml){
    font-weight: 200;
  }
}

.semibold {
  font-weight: 600;
}

.black {
  font-weight: 900;
}

.lower {
  text-transform: lowercase;
}

.caps {
  text-transform: uppercase;
}

// Text alignment

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Selection style for inline text
p, span,
h1, h2, h3, h4,
li, a, strong, em {
  &::selection {
    background-color: var(--cobalt);
    color: white;
    text-shadow: 0.1em 0.1em 0 var(--charcoal);
  }
}

// Strip link styling for block box links
a.box {
  color: var(--fg);
  text-decoration: initial;
}

// Strip list styling if list item contains box
li:has(.box) {
  list-style: none;
}

// Header styling
.f-hero,
.f-xhr,
.f-2xh,
.f-3xh,
.f-4xh {
  text-rendering: geometricPrecision;
}

.f-hero,
.f-xhr {
  line-height: 1.2;
}

.f-xlg,
.f-2xl,
.f-hero,
.f-xhr,
.f-2xh,
.f-3xh,
.f-4xh {
  line-height: 0.75;
  letter-spacing: -0.05em;
}

.f-3xh,
.f-4xh {
  @include query($bp-lrg){
    line-height: 0.65;
  }
}

a {
  color: var(--fg);
}

header {
  h1 + p { // subtitle
    &::before {
      content: '“';
    }
    &::after {
      content: '”';
    }
    @include query($bp-lrg){
      margin-top: 1rem;
    }
  }
}

nav a.box,
nav h2.grid-fours,
.linkstyle {
  @extend .caps;
  font-size: var(--f-cemi);
  letter-spacing: 0.2em;
}

nav a.box,
.linkstyle {
  &::after {
    content: '↗︎';
    font-family: var(--ff-inter);
  }
}

nav h2.grid-fours {
  @extend .light;
  @extend .italic;
}

.featured {
  @extend .f-lrg;
  @extend .light;
  ul {
    list-style: none;
  }
    li {
      margin: var(--s1) 0;
    }
  strong {
    @extend .wide;
    font-size: 1.16em;
  }
  // &:first-child {
  //   padding-top: var(--s2);
  //   padding-bottom: var(--s2);
  // }
}

// article typographies

article {
  h3 {
    @extend .f-xlg;
    @extend .black;
    letter-spacing: -0.025em;
    line-height: 1;
  }
  p.blog-meta {
    @extend .f-med;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  p.blog-excerpt {
    @extend .f-semi;
    @extend .light;
    &::after {
      content: '..';
    }
  }
}