// type

body {
  font-family: "SF Mono", "Roboto Mono", monospace;
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

.tvtext {
  font-size: $text-size;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  line-height: 1em;
}

.r { 
  color: red;
}

.g { 
  color: green;
}

.b { 
  color: blue;
}